In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import random

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/winequalityN.csv")
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
df.isnull().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
df.shape

(6463, 13)

In [ ]:
df['quality score']=[0 if x < 5 else ( 1 if 5 <= x and x<=7 else 2) for x in df.quality]
df['type'] = [1 if x == "white" else 0 for x in df.type]
print(df)

      type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0        1            7.0             0.270         0.36            20.7
1        1            6.3             0.300         0.34             1.6
2        1            8.1             0.280         0.40             6.9
3        1            7.2             0.230         0.32             8.5
4        1            7.2             0.230         0.32             8.5
...    ...            ...               ...          ...             ...
6491     0            6.8             0.620         0.08             1.9
6492     0            6.2             0.600         0.08             2.0
6494     0            6.3             0.510         0.13             2.3
6495     0            5.9             0.645         0.12             2.0
6496     0            6.0             0.310         0.47             3.6

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0         0.045                 45.0                 170.0  1.00100  3.00
1         0.049                 14.0                 132.0  0.99400  3.30
2         0.050                 30.0                  97.0  0.99510  3.26
3         0.058                 47.0                 186.0  0.99560  3.19
4         0.058                 47.0                 186.0  0.99560  3.19
...         ...                  ...                   ...      ...   ...
6491      0.068                 28.0                  38.0  0.99651  3.42
6492      0.090                 32.0                  44.0  0.99490  3.45
6494      0.076                 29.0                  40.0  0.99574  3.42
6495      0.075                 32.0                  44.0  0.99547  3.57
6496      0.067                 18.0                  42.0  0.99549  3.39

      sulphates  alcohol  quality  quality score
0          0.45      8.8        6              1
1          0.49      9.5        6              1
2          0.44     10.1        6              1
3          0.40      9.9        6              1
4          0.40      9.9        6              1
...         ...      ...      ...            ...
6491       0.82      9.5        6              1
6492       0.58     10.5        5              1
6494       0.75     11.0        6              1
6495       0.71     10.2        5              1
6496       0.66     11.0        6              1

[6463 rows x 14 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
x = df.drop(['quality','quality score'],axis=1)

y = df['quality score']

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=40)

In [ ]:
xtrain.shape

(5170, 12)

In [ ]:
min_max_scaler = MinMaxScaler()
after_min_max_scaler = min_max_scaler.fit(xtrain)
scaled_xtrain = after_min_max_scaler.transform(xtrain)
scaled_xtest = after_min_max_scaler.transform(xtest)

scaled_xtrain

array([[1.        , 0.15384615, 0.08666667, ..., 0.72093023, 0.27683616,
        0.33870968],
       [1.        , 0.24786325, 0.39333333, ..., 0.27906977, 0.24858757,
        0.16129032],
       [0.        , 0.23076923, 0.32      , ..., 0.54263566, 0.22033898,
        0.59677419],
       ...,
       [0.        , 0.27350427, 0.25333333, ..., 0.50387597, 0.23163842,
        0.38709677],
       [0.        , 0.26495726, 0.23333333, ..., 0.48837209, 0.32768362,
        0.41935484],
       [1.        , 0.21367521, 0.16      , ..., 0.49612403, 0.27118644,
        0.72580645]])

In [ ]:
scaled_xtrain.shape

(5170, 12)

In [ ]:
rf = RandomForestClassifier()
rf.fit(scaled_xtrain, ytrain)
y_pred = rf.predict(scaled_xtest)

In [ ]:
x_predict = list(y_pred)
newdf = {'predicted':x_predict,'original':ytest}
pd.DataFrame(newdf)

      predicted  original
5188          1         1
2915          1         1
1999          1         1
3383          1         1
5052          1         1
...         ...       ...
3100          1         1
4094          1         1
92            1         1
1368          1         1
1222          1         1

[1293 rows x 2 columns]

In [ ]:
y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
ytest = np.array(ytest)

In [ ]:
count = 0
size = ytest.size
for i in range(0, size):
  if y_pred[i] == ytest[i]:
    count += 1

print(count)
print(size)

1217
1293

In [ ]:
accuracy = (count/size)*100
print(accuracy)

94.12219644238206

In [ ]:
print(classification_report(ytest, y_pred))

              precision    recall  f1-score   support

           0       0.62      0.09      0.16        55
           1       0.94      1.00      0.97      1207
           2       1.00      0.26      0.41        31

    accuracy                           0.94      1293
   macro avg       0.86      0.45      0.51      1293
weighted avg       0.93      0.94      0.92      1293

In [ ]:
result = ['bad', 'good', 'best']

In [ ]:
def findQuality(input):
  val = rf.predict(input)
  return val[0]

In [ ]:
for i in range(0, size):
  if y_pred[i] == 2:
    index = i
    break

input = scaled_xtest[index]
print(input)

[1.         0.33333333 0.14       0.21686747 0.09815951 0.05481728
 0.12847222 0.35714286 0.13475998 0.41860465 0.07909605 0.51612903]

In [ ]:
n = findQuality([input])
print(result[n], 'quality')

best quality